<header>
    <nav>
        <span>
            Splingaire Marvyn
        </span>
        <div class="burger">
            <input type="checkbox" id="check"/>
            <div class="checkbtn" for="#check" (click)="navbarBtn()">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="nav-item">
            <ul id="checkList">
                <li *ngFor="let content of list_navbar">
                    <a class="link" routerLink="{{content.link}}"> {{ content.items }}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
