.container{
  margin-top: 6rem;
}
.container h1 {
  text-align: center;
  padding: 2rem 0rem;
}
.contenu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projet{
  display: grid;
  grid-column: 20%  1fr 1fr 20%;
  grid-column-gap: 1rem;
  margin: 2rem 0rem;
  width: 60vw;
}
.img_projet{
  grid-column: 2/3;
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}
.content{
  grid-column: 3/4;
  text-align: justify;
}
.content h2{
  text-align: right;
  margin: 1rem 0rem;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  text-decoration: dotted;
}
.content p {
  /* width: 50rem; */
  font-size: 30px;
}

@media screen and (min-width:1000px) and (max-width:1400px){
  .projet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .projet h2{
    text-align: center;
  }
}
@media screen and (min-width:600px) and (max-width:1000px){
  .projet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .projet h2{
    text-align: center;
  }
}
@media screen and (min-width:300px) and (max-width:600px){
  .projet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .projet h2{
    text-align: center;
  }
  .img_projet,.link_img_projet{
    width: 10rem;
    height: 10rem;
  }
}