.container{
  margin-top: 6rem;
}
.container h1 {
  text-align: center;
  padding: 2rem 0rem;
}
.contenu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0rem;
}
.projet_block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 2rem 0rem;
  width: 60vw;
  padding: 2rem;
  background-color: #EDF0FC;
  text-align: right;
}
.projet_block:nth-of-type(2n){
  flex-direction: row-reverse;
  /* background-color: black; */
  text-align: left;
}
.projet_block a{
  margin: 0rem 5rem;
}

.img_projet{
  /* grid-column: 2/3; */
  width: 25rem;
  height: 25rem;
  object-fit:cover;
}
.content p{
  /* grid-column: 3/4; */
  text-align: justify;
  margin-bottom: 2rem;

}
.content a{
  margin: 2rem 0rem;
  padding: 1rem;
  background-color: #5569DC;
  color: white;
  text-decoration: none;
}
.content a:hover {
  background-color: #EDF0FC;
  color: #5569DC;
  border: 2px solid #5569DC;

}
.content h2{
  /* text-align: right; */
  margin: 1rem 0rem;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
.content:nth-of-type(2n) h2{
  text-align: left;
  background-color: blue;
}
.content p {
  /* width: 50vw; */
  font-size: 30px;
}

@media screen and (min-width:1000px) and (max-width:1400px){
  .projet_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .projet_block h2{
    text-align: center;
  }
  .projet_block:nth-of-type(2n){
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width:600px) and (max-width:1000px){
  .projet_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .projet_block h2{
    text-align: center;
  }
  .projet_block:nth-of-type(2n){
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width:300px) and (max-width:600px){
  .projet_block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .projet_block h2{
    text-align: center;
  }
  .img_projet,.link_img_projet{
    width: 10rem;
    height: 10rem;
  }
  .projet_block:nth-of-type(2n){
    flex-direction: column;
    text-align: center;
  }
}