<div class="container">
    <h1>Mes Projets</h1>
    <div class="contenu">
        <div class="projet_block" *ngFor="let item of projet">
                <a href="{{ item.lien }}" target="_blank" class="link_img_projet"><img src="{{ item.image }}" alt="" class="img_projet"></a>
                <div class="content">
                    <h2 class="title_projet"> {{ item.nom }} </h2>
                    <p>{{ item.description }}</p>
                    <a href="{{ item.lien }}" target="_blank" >En Savoir Plus</a>
                </div>
        </div>
    </div>
</div>
