<h1>Contact</h1>

<form #f ="ngForm" (ngSubmit)="contact(f)" novalidate>
        
            <label>Nom </label>
            <input 
            type="text" 
            name="nom"
            ngModel 
            required
            />
            <label>Prenom </label>
            <input 
            type="text" 
            name="prenom" 
            ngModel 
            required/>
            <label>Email </label>
            <input 
            type="email" 
            name="email" 
            ngModel 
            required/>
            <label>Objet Message </label>
            <input 
            type="text"  
            name="objetMessage"  
            ngModel
            required/>
            <label>Votre Message </label><br>
            <textarea 
            name="message" 
            ngModel
            cols="30" 
            rows="10">
            </textarea>
            <input class="btn-submit" 
            type="submit" 
            value="Contact me"/>
</form>
