h1{
    text-align: center;
    padding: 1rem;
}
form{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 50%;
    /* box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19); */
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.212);
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
    border-radius: 1rem;
}
label{
    text-align: left;
    padding: 1rem 0rem;
}
textarea{
    resize: none;
}
.btn-submit{
    background-color: #5569DC;
    padding: 1rem;
    width: 25%;
    margin: auto;
    margin-top: 1rem;
    border: none;
    color: white;
}
