/* Header */
.content_header{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.photo_moi {
    margin: auto;
}
.photo_moi > img {
    border-radius:5px;
    /* max-height: 12rem; */
}
.marge_gauche{
    background-color: #5569DC;
    width: 30vw;
}
.fonction_adresse > h2 {
    font-weight: bold;
}
.image_droite {
    width: 75vw;
    height: 70vh;
}
.image_droite_img{
    position: relative;
    height: 70vh;
    width: 100vw;
    opacity: 0.7;
}
.content_image{
    position: absolute;
    top: 30rem;
    right: 5rem;
}
.content_image > h2,.content_image > p{
    font-size: 3em;
    text-align: left;
    color: white;
}
.content{
    margin: auto;
    width: 50%;
}
.fonction_adresse{
    color: white;
}
.fonction_adresse > p , .fonction_adresse > h3{
    margin:0;
}
.fonction_adresse > h3 {
    margin-bottom: 10px;
}
.fonction_adresse > p , .tel{
    font-size: 20px;
}
.coordonees{
    color: white;
}
.mail{
    font-size: 15px;
}
.tel,.mail{
    margin: 0;
}

/* .reseau_sociaux{
    
    margin: 0rem 1rem;
    padding: 0;
} */
.reseau_sociaux > li > a > img{
    width: 2rem;
    height: 2rem;
}
.btn_download_cv > button{
    border: none;
    padding: 1rem 3rem;
    color: #5569DC;
    font-weight: bold;
}
.btn_download_cv,.reseau_sociaux,.fonction_adresse,.coordonees{
    margin-top: 2rem;
}
button{
    font-size: 15px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

/*------------------------------------------------------------- new design header ------------------------------------------------------------ */
.content_me{
    height: 100vh;
    background-color: #5569DC;
}
.contenu{
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 2fr 1fr 3fr 5%;
    grid-template-rows: 100px 3fr 2fr 100px 100px;
    align-items: center;
    justify-content: center;
}
.reseau_sociaux svg{
    width: 2rem;
    height: 2rem;
    color: #EDF0FC;
}
.photo_moi{
    grid-column: 4/6;
    grid-row: 2/3;
}
.photo_moi svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fonction_adresse{
    grid-row: 2;
    grid-column: 2/3;
    font-size: 25px;
}
.role_me{
    font-size:2em;
    font-weight: bold;
    font-style: italic;
}
.adresse_me{
    font-size: 25px;
    font-style: italic;
}
.firstname_lastname{
    font-size:3em;
    font-weight: bold;
    color: white;
    text-align: center;
}
.btn_download_cv{
    font-size: 25px;
}
.reseau_sociaux{
    margin: 0;
    grid-row: 4;
    grid-column: 2/3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.reseau_sociaux .reseau_sociaux_list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}.reseau_sociaux_list li {
    margin: 0rem 1rem;
    
}
.reseau_sociaux div {
    font-size: 30px;
    margin-top: -7px;
    margin-right: 2rem;
}

/* ------------------------------------------------------------ grid test ---------------------------------------------------------------------*/
.parcours , .formation_etude , .competences {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;
}
/* --------------------------------- Mon parcous -------------------------- */

.parcours{
    background-color: #EDF0FC;
    color: #5569DC;
    grid-template-rows: 5rem 1fr;
    padding: 3rem 0rem;
}
.parcours h2 {
    grid-row: 1;
    grid-column: 2/4;
    margin: 0;
    font-family: "Segoe UI";
    font-style: oblique;
    font-size: 35px;
}
.description{
    grid-row: 2;
    grid-column: 2/4;
    font-style: italic;
    font-weight: bold;
    text-align: justify;
    font-size: 25px;
}
/* ------------------------------------------------------------------------ */
/* -------------------------- Etude et formation -------------------------- */
.etudes > h2 , .experiences > h2 , .title_competence , .content_parcours > h2{
    color: #5569DC;
    font-size: 35px;
}
.formation{
    font-size: 25px;
}
.formation_etude{
    grid-template-rows: 5rem 1fr;
    margin-top: 2rem;
}
.etudes{
    grid-row: 1/3;
    grid-column: 2/3;
}
.experiences{
    grid-row: 1/3;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.blockBackend > h2 , .blockFrontend > h2 ,.blockDb > h2{
    font-size: 2em;
}
.title_experience{
    text-align: left;
}
.description_etude , .description_exp{
    font-style: italic;
}
.date_etude , .date_exp{
    font-weight: bold;
    font-size: 20px;
}
.description_etude , .description_exp , .gauche , .droite{
    font-size: 20px;
    width: 25rem;
}

.backend > p , .langage_db > p , .frontend > p  , .methodo > p {
    margin: 0;
    margin-left: 1rem;
    font-size: 25px;
}
.backend > img , .langage_db > img , .frontend > img  , .methodo > img {
    width: 2rem;
    height: 2rem;
}
.backend:nth-child(5) > p ,.backend:nth-child(2) > p ,.backend:nth-child(3) > p{
    margin-left: 2rem;
}
.backend:nth-child(4) > img,.backend:nth-child(6) > img{
    width: 3rem;
    height: 2rem;
}
.langage_db > img{
    width: 3rem;
    height: 2rem;
}
.langage_db:nth-last-child(2) > img{
    width: 3rem;
    height: 3rem;
}
.langage_db:nth-last-child(2) > p{
    margin-top: 1rem;
}
/* ------------------------------------------------------------------------ */
/* ----------------------------- Competences ------------------------------ */
.competences{
    grid-template-rows: 5rem  5rem 1fr 5rem 1fr;
    /* grid-gap: 10px; */
}
.title_competence{
    grid-row: 0;
    grid-column: 2/3;
    font-size: 35px;
}
.blockBackend{
    grid-row: 2/4;
    grid-column: 2/3;
}
.blockFrontend{
    grid-row: 2/4;
    grid-column: 3/4;
    text-align: end;
    
}
.frontend{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 3rem;
}
.frontend > p {
    margin-right: 1rem;
}
.blockDb{
    grid-row: 4/5;
    grid-column: 2/4;
}
.title_frontend{
    
}
.backend , .langage_db {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    margin-top: 3rem;
}
.title_langagedb{
    margin-top: 3rem;
}
/* ------------------------------------------------------------------------ */


@media screen and (min-width: 200px) and (max-width: 640px){
    .content_header{
        flex-direction: column;
        height: auto;
    }
    .marge_gauche{
        width: 100%;
        padding-bottom: 5rem;
        height: 80vh;
    }
    .content_image{
        display: none;
    }
    .image_droite{
        width: 100%;
        height: 70vh;
        opacity: 1;
    }
    .parcours{
        height: 70vh;
    }
    .content_parcours{
        margin: auto;
        width: 70%;
    }
    .content_parcours > h2 {
        font-size: 25px;
        text-align: center;
    }
    .description{
        font-size: 15px;
        text-align: center;
        width: 100%;
    }
    .etudes,.experiences{
        width: 100%;
    }
    .etudes > h2 , .experiences > h2 , .title_competence{
        text-align: center;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    .formation,.gauche,.droite{
        width: 70%;
        margin: auto;
    }
    .description_etude,.description_exp,.backend,.frontend,.langage_db{
        width: 100%;
    }
    .title_competence{
        margin:30px 0px;
        padding-top: 2rem;
        text-align: center;
    }
    .content_competence{
        flex-direction: column;
    }
}


